@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Dancing+Script&display=swap');
body{margin: 0;
    padding: 0;
    background: url("https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80") no-repeat fixed center; 
    background-size: cover;
}

.container{
    margin: 0px;
    border: 2px solid black;
    height: 55px;
    background: #708887;
    mix-blend-mode:overlay;
    font-family: 'Bruno Ace SC', cursive;
    color: #acd7e2;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; 
}

#clock{
    display: grid;
    grid-auto-flow: column;
    gap: 1rem;
    font-size: 5rem;}

#clock div{
    border: 2px solid blue;
    height: 8rem;
    width: 10rem;
    text-align: center;
    font-size: 6rem;
    border-radius: 3rem;
    /* background: url("https://images.unsplash.com/photo-1481988535861-271139e06469?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1490&q=80") no-repeat fixed center; 
    background-size: cover; */
    background: #708887;
    color: #25bbca;
    font-family:'Bruno Ace SC', cursive;;
}

.time-component{ mix-blend-mode:overlay;}
    
    #dots{
        color: #178978;
        mix-blend-mode:overlay;
    }

/* for date */
.time{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 34%;
    font-size: 1.5rem;
    color:#7ad397;
    font-family:'Bruno Ace SC', cursive;
}